.title {
	color: #5C6AC4;
}
#portfolio{
  display: flex;
  flex-direction: column;
  background-color: #E6E6FA;


}
section{
  padding: 100px 0;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  
}
.services{
  font-family: 'Poppins', sans-serif;
  
}
.max_width{
  max-width: 900px;
}
.gallery img{
  width: 360px;
  height: 240px;
  margin: 10px;
}
.serv_content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.serv_content .card{
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;

}


.serv_content .card .text{
  font-size: 25px;
  font-weight: 500;
  color: white;
  margin: 10px 0 7px 0;
}


.serv_content .card .box{
transition: all 0.3s ease;
  
}

.serv_content .card:hover .box{
  transform: scale(1.05);
    
  }
.w3-wide{letter-spacing:4px}
/* .w3-light-gray{color:#000!important;background-color:#f1f1f1!important} */
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-container{padding:0.01em 16px}
.w3-center{text-align:center!important}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}

.w3-padding-small{padding:4px 8px!important}
.w3-dark-gray{color:#fff!important;background-color:#616161!important}

.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}



